name: Prod Deploy

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  get_build:
    uses: ./.github/workflows/build_get.yml
    with:
      environment: ci
      version: 0.5.1

  infra:
    needs: 
      - get_build
    uses: ./.github/workflows/infra.yml
    with:
      environment: prod
      infra_version: 0.5.1
      lambda_bucket: ${{ needs.get_build.outputs.lambda_bucket }}
      matrix: ${{ needs.get_build.outputs.lambda_version_files }}

  deploy:
    uses: ./.github/workflows/deploy.yml
    needs: 
      - get_build
      - infra # this is only to ensure infra runs before deploy no dependencies on infra outputs i.e. infra is managed separately
    with:
      environment: prod
      lambda_version: ${{ needs.get_build.outputs.lambda_version }}
      lambda_bucket: ${{ needs.get_build.outputs.lambda_bucket }}
      matrix: ${{ needs.get_build.outputs.lambda_version_files }}