name: Dev Deploy Lambda Only
# This allows us to deploy only lambda changes to dev without touching infra.

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      lambdas_dirs: ${{ steps.lambdas_dirs.outputs.just_outputs }}
    steps:
      - uses: actions/checkout@v4

      - name: Get lambdas Directories
        id: lambdas_dirs
        uses: chrispsheehan/just-aws-oidc-action@0.3.0
        with:
          just_action: lambda-get-directories

  build:
    uses: ./.github/workflows/build.yml
    needs: 
      - setup
    with:
      environment: dev
      version: ${{ github.sha }}
      matrix: ${{ needs.setup.outputs.lambdas_dirs }}

  get_build:
    needs: build
    uses: ./.github/workflows/build_get.yml
    with:
      environment: dev
      version: ${{ github.sha }}

  deploy:
    uses: ./.github/workflows/deploy.yml
    needs:
      - get_build
    with:
      environment: dev
      lambda_version: ${{ needs.get_build.outputs.lambda_version }}
      lambda_bucket: ${{ needs.get_build.outputs.lambda_bucket }}
      matrix: ${{ needs.get_build.outputs.lambda_version_files }}
