name: Dev Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - sqs-consumer-lambda

permissions:
  id-token: write
  contents: write

jobs:
  code:
    uses: ./.github/workflows/infra_releases.yml
    with:
      environment: dev
      infra_version: ${{ github.sha }}

  infra:
    needs: code
    uses: ./.github/workflows/infra.yml
    with:
      environment: dev
      infra_version: ${{ github.sha }}
      lambda_bucket: ${{ needs.code.outputs.lambda_bucket }}

  # dev:
  #   uses: ./.github/workflows/build.yml
  #   needs: 
  #     - code
  #     - lambdas
  #   with:
  #     environment: dev
  #     version: ${{ github.sha }}
