name: Dev Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - sqs-consumer-lambda

permissions:
  id-token: write
  contents: write

jobs:
  code:
    uses: ./.github/workflows/infra_releases.yml
    with:
      environment: dev
      infra_version: ${{ github.sha }}

  lambdas:
    needs: code
    uses: ./.github/workflows/infra.yml
    with:
      environment: dev
      infra_version: ${{ github.sha }}
      lambda_bucket: ${{ needs.code.outputs.lambda_bucket }}
      lambda_version: ${{ github.sha }}

  # dev:
  #   uses: ./.github/workflows/deploy.yml
  #   needs: 
  #     - build
  #     - lambdas
  #   with:
  #     environment: dev
  #     lambda_bucket: ${{ needs.build.outputs.lambda_bucket }}
  #     lambda_version: ${{ needs.build.outputs.lambda_version }}
