name: Dev Deploy

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      environment: dev
      version: ${{ github.sha }}

  get:
    needs: build
    uses: ./.github/workflows/get_build.yml
    with:
      environment: dev
      version: ${{ github.sha }}

  dev:
    uses: ./.github/workflows/deploy.yml
    needs: get
    with:
      environment: dev
      infra_version: ${{ github.sha }}
      lambda_bucket: ${{ needs.get.outputs.lambda_bucket }}
      lambda_version: ${{ needs.get.outputs.lambda_version }}
